.inter-uniquifier {
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.895);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.common-btn {
    background-color: #E6533C;
    color: #FFFFFF;
    padding: 16px 40px;
    border-radius: 42px;
    border-style: none;
}

.common-btn:hover {
    color: #E6533C;
    background-color:#FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.386);
}


/* Main sections related styles */
.main-container{
    margin-bottom: 100px;
}

/* Header section related styles */
.header-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    margin-bottom: 90px;
    /* background-color: aqua; */
}

.header-logo {
    color: #fc4b30;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
}

.header-nav {
    display: flex;
    gap: 47px;
    border: 0.5px solid white;
    border-radius: 39px;
    padding: 10px 20px;
}

.header-nav a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.header-nav a:hover {
    background-color: #E6533C;
    padding: 10px 20px;
    border-radius: 39px;
}

/* hero section related styles */
.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 90%;
    margin: 0 auto;
    /* background-color: aqua; */
}

.hero-container-txt {
    max-width: 520px;
}

.hero-container-txt h1 {
    font-size: 78px;
    color: #FFFFFF;
    padding-bottom: 28px;
}

.hero-container-txt p {
    font-size: 16px;
    color: #FFFFFF50;
    line-height: 30px;
    padding-bottom: 28px;
}

.hero-container-txt-btn {
    display: flex;
    gap: 14px;
}

/* hero image parts */
.hero-container-img{ 
   position: relative;
}

.part500 {
    background-color: #FFFFFF65;
    max-width: 190px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    text-align: center;
    padding: 20px;

    position: absolute;
    top: 125px;
    left: 230px;
}

.part500 h3 {
    color: #FFFFFF;
    font-size: 40px;
}

.part500 p {
    color: #ffffffda;
    font-size: 12px;
}

.img-middle-icon{
    position: absolute;
    top: 300px;
    left: -50px;
}

.img-middle-icon i {
    color: #FFFFFF;
    font-size: 25px;
}

.part300 {
    background-color: #FFFFFF65;
    max-width: 196px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    position: absolute;
    right: 256px;
    bottom: 63px;
}

.part300-icon i{
    font-size: 30px;
    color: #E6533C;
}

.part300 .part300-txt h4{
    font-size: 24px;
    color: #FAFAF9;
}

.part300 .part300-txt P {
    font-size: 12px;
    color: #EFEDE8;
}


/* habit related styles */
.habit-container{
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 100px;
    /* background-color: aqua; */
}

.habit-head{
    max-width: 600px;
    margin: 0 auto 57px; 
}

.habit-heading{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 14px;
}

.habit-container h3, h5{
    color: #FFFFFF;
}

.habit-container p{
    color: #FFFFFF60;
    font-size: 14px;
    line-height: 25px;
}

.habit-cards {
    display: flex;
    justify-content: space-around;
}

.common-habit-card{
    max-width: 231px;
}

.common-habit-card h5{
    font-size: 18px;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 10px;
}

.common-habit-card img {
  border-radius: 50%;
}


/* run container related styles */
.run-container{
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    /* gap: 165px; */
    justify-content: space-between;
    align-items: center;

    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
}

.run-txt{
    max-width: 443px;
    padding: 40px 0 40px 60px;
}

.run-txt h3{
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 14px;
}

.run-txt p {
    color: #FFFFFF60;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 30px;
}

.run-img img{
    max-width: 100%;
    border-radius: 18px;
    padding: 30px 30px 30px 0;
}

/* training and exercise related styles */
.train-exer-container{
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.train-exer-container-heading{
    margin-bottom: 55px;
}

.train-exer-container-img img {
    max-width: 100%;
}

.train-exer-container-img{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.exe2, .exe4 {
    grid-column: span 2;
}

.train-exer-container-heading h3{
    font-size: 48px;
    color: #FFFFFF;
    padding-bottom: 14px;
}

.train-exer-container-heading p{
    font-size: 14px;
    color: #FFFFFF90;
}


/* team section related styles */
.team-container{
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 88px;
}

.team-container-txt{
    text-align: center;
    margin-bottom: 40px;
}

.team-container-txt h3{
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    padding-bottom: 14px;
}

.team-container-txt p {
    font-size: 14px;
    color: #FFFFFF80;
}

.team-container-img div img {
    max-width: 326px;
    max-height: 272px;
}

.team-container-img{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;

    background-color: rgba(0, 0, 0, 0.546);
    padding: 20px;
    border-radius: 18px;
}


/* footer section related styles */
#footer{
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-container{
    max-width: 90%;
    margin: 0 auto;
    /* background-color: rgb(177, 224, 171); */
}

.footer-top{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 80px;
}

.footer-top-fitness h2{
    font-size: 70px;
    color: #E6533C;
    font-weight: bold;
    padding-bottom: 20px;
}

.footer-top-fitness p {
    font-size: 14px;
    color: #ffffff7e;
    line-height: 25px;
}

.footer-top-get h5{
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    padding-bottom: 18px;
}

.footer-top-get p {
    font-size: 18px;
    color: #ffffff8d;
    line-height: 30px;
}

.footer-bottom{
    text-align: center;
    font-size: 20px;
    color: #FFFFFF50;
    padding: 36px 0 35px;
    border-top: 1.4px solid #FFFFFF10;
}






