.inter-uniquifier {
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 0.895);
}

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared styles */
.common-btn {
    background-color: #E6533C;
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 16px 40px;
    border-radius: 42px;
    border-style: none;
}

.common-btn:hover {
    color: #E6533C;
    background-color: #FFFFFF;
    border: 0.5px solid rgba(0, 0, 0, 0.386);
}


/* Main sections related styles */
.main-container {
    margin-bottom: 100px;
}

/* Header section related styles */
.header-container {
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 57px;
    margin-bottom: 90px;
    /* background-color: aqua; */
}

.header-logo {
    color: #fc4b30;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: bold;
}

.header-nav {
    display: flex;
    gap: 47px;
    border: 0.5px solid white;
    border-radius: 39px;
    padding: 10px 20px;
}

.header-nav a {
    font-size: 1.125rem;
    color: #FFFFFF;
    text-decoration: none;
    /* position: relative; */
}

.header-nav a:hover {
    background-color: #E6533C;
    padding: 10px 20px;
    border-radius: 39px;
    /* position: absolute;  */
}

.header-menu {
    display: none;
}

.header-menu a {
    color: #FFFFFF;
    font-size: 20px;
}


/* hero section related styles */
.hero-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 90vw;
    margin: 0 auto;
    /* background-color: aqua; */
}

.hero-container-txt {
    width: 36vw;
}

.hero-container-txt h1 {
    font-size: 4.875rem;
    color: #FFFFFF;
    padding-bottom: 28px;
}

.hero-container-txt p {
    font-size: 16px;
    color: #FFFFFF50;
    line-height: 30px;
    padding-bottom: 28px;
}

.hero-container-txt-btn {
    display: flex;
    gap: 14px;
}

/* hero image parts */
.hero-container-img {
    position: relative;
}

.part500 {
    background-color: #FFFFFF65;
    max-width: 190px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    text-align: center;
    padding: 20px;

    position: absolute;
    top: 125px;
    left: 230px;
}

.part500 h3 {
    color: #FFFFFF;
    font-size: 40px;
}

.part500 p {
    color: #ffffffda;
    font-size: 12px;
}

.img-middle-icon {
    position: absolute;
    top: 300px;
    left: -50px;
}

.img-middle-icon i {
    color: #FFFFFF;
    font-size: 25px;
}

.part300 {
    background-color: #FFFFFF65;
    max-width: 196px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    position: absolute;
    right: 256px;
    bottom: 63px;
}

.part300-icon i {
    font-size: 30px;
    color: #E6533C;
}

.part300 .part300-txt h4 {
    font-size: 24px;
    color: #FAFAF9;
}

.part300 .part300-txt P {
    font-size: 12px;
    color: #EFEDE8;
}


/* habit related styles */
.habit-container {
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 100px;
    /* background-color: aqua; */
}

.habit-head {
    max-width: 600px;
    margin: 0 auto 57px;
    text-align: center;
}

.habit-heading {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 14px;
}

.habit-container h3,
h5 {
    color: #FFFFFF;
}

.habit-container p {
    color: #FFFFFF60;
    font-size: 14px;
    line-height: 25px;
}

.habit-cards {
    /* background-color: aqua; */
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.common-habit-card {
    text-align: center;
}

.common-habit-card img {
    width: 100%;
}

.common-habit-card h5 {
    font-size: 18px;
    font-weight: bolder;
    padding-top: 30px;
    padding-bottom: 10px;
}

.common-habit-card img {
    border-radius: 50%;
}


/* run container related styles */
.run-container {
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 100px;
    display: flex;
    gap: 165px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(34, 34, 34, 1);
    border-radius: 18px;
    padding: 30px 30px 30px 50px;
}

.run-txt {
    max-width: 443px;
}

.run-txt h3 {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 14px;
}

.run-txt p {
    color: #FFFFFF60;
    font-size: 14px;
    line-height: 22px;
    padding-bottom: 30px;
}

.run-img img {
    width: 100%;
    border-radius: 18px;
}

/* training and exercise related styles */
.train-exer-container {
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 100px;
}

.train-exer-container-heading {
    margin-bottom: 55px;
}

.train-exer-container-img img {
    width: 100%;
    height: 100%;
}

.train-exer-container-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 201.5px);
}

.exe2,
.exe4 {
    grid-column: span 2;
    grid-row: span 1;
}

.train-exer-container-heading h3 {
    font-size: 48px;
    color: #FFFFFF;
    padding-bottom: 14px;
}

.train-exer-container-heading p {
    font-size: 14px;
    color: #FFFFFF90;
}

.exe1,
.exe2,
.exe5,
.exe6 {
    position: relative;
}

.overley {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.first-overley {
    background-color: rgba(6, 255, 210, 0.5);
}

.second-overley {
    background-color: rgba(255, 0, 0, 0.3);
}

.fifth-overley {
    background-color: rgba(66, 255, 0, 0.3);
}

.sixth-overley {
    background-color: rgba(0, 71, 255, 0.3);
}

/* team section related styles */
.team-container {
    max-width: 90vw;
    margin: 0 auto;
    margin-bottom: 88px;
}

.team-container-txt {
    text-align: center;
    margin-bottom: 40px;
}

.team-container-txt h3 {
    font-weight: bold;
    font-size: 48px;
    color: #FFFFFF;
    padding-bottom: 14px;
}

.team-container-txt p {
    font-size: 14px;
    color: #FFFFFF80;
}

.team-container-img img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
}

.team-container-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 272px);
    gap: 20px;

    background-color: rgba(0, 0, 0, 0.546);
    padding: 20px;
    border-radius: 18px;
}


/* footer section related styles */
#footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.footer-container {
    max-width: 90vw;
    margin: 0 auto;
    /* background-color: rgb(177, 224, 171); */
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 80px;
}

.footer-top-fitness h2 {
    font-size: 70px;
    color: #E6533C;
    font-weight: bold;
    padding-bottom: 20px;
}

.footer-top-fitness p {
    font-size: 14px;
    color: #ffffff7e;
    line-height: 25px;
}

.footer-top-get h5 {
    font-weight: bold;
    font-size: 32px;
    color: #FFFFFF;
    padding-bottom: 18px;
}

.footer-top-get p {
    font-size: 18px;
    color: #ffffff8d;
    line-height: 30px;
}

.footer-bottom {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF50;
    padding: 36px 0 35px;
    border-top: 1.4px solid #FFFFFF10;
}

/* responsive related styles */
.hide {
    display: none !important;
}

/* responsive for (max-width:576px) */
@media screen and (max-width:576px) {

    .header-nav {
        display: none;
    }

    .header-menu {
        display: inline;
    }

    .header-container {
        padding-top: 50px;
        margin-bottom: 50px;
    }

    .hero-container-txt {
        width: 85vw;
    }

    .common-habit-card img {
        width: 70%;
    }

    .team-container-img {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-top,
    .habit-cards,
    .run-container,
    .hero-container {
        flex-direction: column;
    }
}


/* responsive for (max-width:992px) */
@media screen and (min-width:577px) and (max-width:992px) {
    .hero-container {
        flex-direction: column;
    }

    .hero-container-txt {
        width: 70vw;
    }

    .run-container{
        gap: 50px;
    }

    .habit-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    .common-habit-card img {
        width: 70%;
    }

    .footer-top{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 50px;
    }

    .footer-top-fitness{
        grid-column: span 2;
    }

}